<h2 mat-dialog-title>Create New Location</h2>
<mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Location Name</mat-label>
          <input matInput id="name" type="text" [(ngModel)]="data.name"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Street Address</mat-label>
          <input matInput id="streetAddress" type="text" [(ngModel)]="data.streetAddress"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput id="city" type="text" [(ngModel)]="data.city"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput id="state" type="text" [(ngModel)]="data.state"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Zip Code</mat-label>
          <input matInput id="zipCode" type="text" [(ngModel)]="data.zipCode"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Neighborhood Name</mat-label>
          <input matInput id="neighborhood" type="text" [(ngModel)]="data.neighborhood"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Google Place ID</mat-label>
          <input matInput id="zipCode" type="text" [(ngModel)]="data.googlePlaceId"/>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="accent"[mat-dialog-close]="data">Create</button>
</mat-dialog-actions>
