<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <form [formGroup]="runFormGroup">
        <mat-stepper formArrayName="formArray" [linear]="true" [orientation]="(stepperOrientation | async)!" #stepper (selectionChange)="onStepChange($event)">
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!" label="Run Type">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Run Type</mat-label>
                    <mat-select formControlName="runType">
                      <mat-option value="thursday-run">Thursday Run</mat-option>
                      <mat-option value="saturday-5k">Saturday 5K</mat-option>
                      <mat-option value="special-event">Special Event</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button mat-raised-button matStepperNext color="accent">Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!"  label="Where/When">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="runLocation" [(value)]="selectedLocation">
                      @for (location of locations$; track location.id; let i = $index) {
                        <mat-option [value]="location.id">{{ location.name }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button color="accent" class="add-location-btn" (click)="openLocationDialog()">Add Location</button>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Event Date/Time</mat-label>
                    <input matInput type="datetime-local" name="eventDate" formControlName="eventDate">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button mat-raised-button matStepperPrevious color="accent">Back</button>
              <button mat-raised-button matStepperNext color="accent">Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])!"  label="Details">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput id="runName" type="text" formControlName="runName"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col12">
                  <div class="description-ngx">
                    <ngx-editor-menu [editor]="editor" > </ngx-editor-menu>
                    <ngx-editor [editor]="editor" formControlName="description" [placeholder]="'Description'"></ngx-editor>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Strava Route ID</mat-label>
                    <input matInput id="stravaRouteId" type="text" formControlName="stravaRouteId"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Strava Event ID</mat-label>
                    <input matInput id="stravaEventId" type="text" formControlName="stravaEventId"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Facebook Event ID</mat-label>
                    <input matInput id="facebookEventId" type="text" formControlName="facebookEventId"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Meetup Event ID</mat-label>
                    <input matInput id="meetupEventId" type="text" formControlName="meetupEventId"/>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button mat-raised-button matStepperPrevious color="accent">Back</button>
              <button mat-raised-button matStepperNext color="accent">Create Run</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Complete</ng-template>
            <p>Run has been created!</p>
            <div>
              <button mat-raised-button (click)="stepper.reset()" color="accent">Restart</button>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </div>
  </div>
</div>
