<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <form [formGroup]="runFormGroup" (ngSubmit)="onSubmit()">
        <mat-stepper formArrayName="formArray" [linear]="true" [orientation]="(stepperOrientation | async)!" #stepper (selectionChange)="onStepChange($event)">
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!" label="Run Type">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Run Type</mat-label>
                    <mat-select formControlName="runType">
                      <mat-option value="thursday-run">Thursday Run</mat-option>
                      <mat-option value="saturday-5k">Saturday 5K</mat-option>
                      <mat-option value="special-event">Special Event</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!"  label="Where/When">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="location" [(value)]="selectedLocation">
                      @for (location of locations$; track location.id; let i = $index) {
                        <mat-option [value]="location.id">{{ location.name }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="button" class="add-location-btn" (click)="openLocationDialog()">Add Location</button>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Event Date/Time</mat-label>
                    <input matInput type="datetime-local" name="eventDate" formControlName="eventDate">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button mat-raised-button matStepperPrevious color="primary" type="button">Back</button>
              <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])!"  label="Details" #stepFinal>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput id="name" type="text" formControlName="name"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <mat-form-field>
                    <mat-label>Strava Route ID</mat-label>
                    <input matInput id="stravaRouteId" type="text" formControlName="stravaRouteId"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="description-ngx">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" [placeholder]="'Description*'" outputFormat="html"></ngx-editor>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button mat-raised-button matStepperPrevious color="primary" type="button">Back</button>
              <button mat-raised-button color="primary" type="submit" [class.spinner]="saving" [disabled]="saving || finalForm.invalid">Create Run</button>
              @if (errorMessage != null) {
                <span class="error-msg">{{ errorMessage }}</span>
              }
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Complete</ng-template>
            <p>Run has been created!</p>
            <div>
              <button mat-raised-button (click)="restartFlow()" color="primary" type="button">Restart</button>
              <button mat-raised-button (click)="viewRun()" color="primary" type="button">View Run</button>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </div>
  </div>
</div>
