:host, mat-form-field {
  width: 100%;
}

:host {
  padding-left: 0;
  padding-top: 0;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

.row {
  padding-left: 0px;
  padding-right: 0px;
}

.mat-vertical-content, .container-fluid, .col-sm-12 {
  padding: 0;
}

.description-ngx {
  margin-bottom: 24px;
}

@media only screen and (min-width: 600px) {
  mat-form-field {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.add-location-btn {
  margin-bottom: 10px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.error-msg {
  color: red;
  margin-left: 10px;
}
