<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1>Running Tacoma since 2010</h1>
      <p>The Tacoma Runners began in January 2010 with a few words on Twitter. Three people confirmed for an easy run from Tacoma's iconic Parkway Tavern. Seven showed up. Twelve runners came for week two from the Red Hot. Then sixteen the following week. After more than a decade, several thousand runners have joined us and the group continues to grow. All events are open to runners of all speeds and abilities. We won't lose you. </p>
      <p>We have two weekly runs - a Thursday night social run and a free Saturday 5k. These are a great way to meet people and learn about all the various running options in the South Sound. </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h2>Our Board</h2>
      <p>Our board is made of volunteer runners who are dedicated to ensuring there is a free, fun, and inclusive running community in the South Sound. Feel free to ask us any questions or just say hi!</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/hayley.jpg"/>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Hayley Falk - President</p>
      <p>Favorite Thursday Run - Titlow Park</p>
      <p class="joined">Joined 2017</p>
      <p>Hayley has been running since she was 14 when she was forced to run cross country in high school (thanks mom). She has fallen in and out of love with the sport throughout her running career but has always valued the team comradery. Hayley joined Tacoma Runners within two weeks of moving to Tacoma and hasn’t looked back since. When she isn’t running, Hayley is likely watching Dodgers baseball or engaged in discussion of government policy in the outdoors.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1">
      <p class="name-title">Deb McLaren - Vice President and Saturday Run Host</p>
      <p>Favorite Run - Point Defiance of course!</p>
      <p class="joined">First Run was Saturday, January 12, 2013</p>
      <p>My first Saturday run with Tacoma Runners 11 years ago was the beginning of a life change for me. I had recently turned 50 and had never run a 5k. I was so intimidated! I was sure I would be last or get lost or both!  After finishing that first run, I could barely walk and thought I would never run again. That day, Kent and I decided that running every Saturday was non-negotiable. Each week it got easier and gave me the confidence to join a Thursday run, do several half-marathons, and even a few Sprint triathlons.  We (along with John) began hosting the Saturday run seven years ago when Derek and Sarah had Owen. Tacoma Runners has always promoted itself as a "social group that happens to run."  I have met and logged in over 500 runners who have joined us on Saturday (at least once). I joke that I see my Tacoma Runner friends more regularly than my family! Tacoma Runners has a place for every age and level of runner. Come and find your place with us.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/deb.jpg"/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/john.png"/>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">John Hellman - Board Member</p>
      <p class="joined">Joined 2012</p>
      <p>I started my running life back in 1968 when after running a timed mile in P.E. I couldn't go to school the next day.<br/>
        Cross-Country and Track were the logical next step. I pursued these through Junior High and High School.  During summers I'd get together with my teammates and train endlessly (for fun!) in the California heat.<br/>
        What followed was Cross-Country at USC, San Jose State, and finally at U.C. Santa Cruz.<br/>
        Running in the Redwoods and pastureland (chased by crazed, red-eyed cows) gave me the speed to run my PR 2:36 marathon at The Avenue of the Giants in 1977.<br/>
        At UCSC (Home of the Fighting Banana Slugs) I coached the Men's and Women's Cross-Country Teams.  Fun and improvement were our guiding philosophy.
        After some further education at the University of Oregon and some Middle School and High School coaching jobs, Peace Corps and then marriage, my wife Cassie and I headed north to Seattle in 1990.<br/>
        I've been running with the Tacoma Runners since 2012.<br/>
        Join Course Marshal Mochi and the gang every Saturday at Point Defiance for the Tacoma Runners FREE 5K!</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1">
      <p class="name-title">Kristina Bellizzi - Board Member</p>
      <p class="joined">Joined 2014</p>
      <p>Kristina moved to Tacoma from NH in 2012 and found it hard to make friends. After having a baby, she discovered she needed more reasons to get out of the house and interact with adult-ish people. In May of 2014, she found the Saturday morning run on Facebook and struggled through a 40-min walk jog of a rolling 5k.  In spite of better judgement, she then showed up to a Thursday run from the Unicorn pushing a stroller up a ridiculous hill. Now almost a decade later, the baby loves to do spartan races, tear up sidewalks on two wheels, and has even worn the coveted tutu for a run.  Kristina rarely says no to an adventure run, especially if costumes are involved.  Kristina found amazing people at Tacoma Runners who she now calls family and are crazy enough to say yes to all sorts of sporting adventures. Come find your newest best friends and favorite hills with Tacoma Runners!</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/kristina.jpg"/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/mike.png"/>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Mike Bogatay - Board Member</p>
      <p>My brother had sold Tacoma Runners as a fun run with a beer at the end, but all I could think about was the burning in my legs and lungs. His words of encouragement were met by expletive laden requests for his silence as I agonized over each step of a long and gradual incline. A little over ten years ago I was a burnt-out workaholic smoker hobbling my way to the end of a Thursday run. I survived, enjoyed my beer, and connected with a cool cross-section of Tacoma's community. The friendships I found fueled a lifestyle change to countless 5k's, many relays, and even a good number of half, full, and ultramarathons. Running changed my life, and if it hasn't already, it can change yours too.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1">
      <p class="name-title">Eric Voboril - Board Member, Fun Committee</p>
      <p class="joined">Joined 2018</p>
      <p>Eric loves running in the woods and on the sidewalks. He started running with Tacoma Runners in 2018 just after moving to Washington from Baltimore, Maryland. He likes being on the Fun Committee of the board mostly because it’s an opportunity to make more excuses to wear costumes. Besides running, Eric can often be seen riding his bike in town and far away. He also plays multiple musical instruments and teaches at an elementary school.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/eric.png"/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/will.jpg"/>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Will Hamilton - Board Member</p>
      <p>Favorite Run - Hanks Bar &amp; Pizza</p>
      <p class="joined">Joined 2022</p>
      <p>Will began running in 2018 following the conclusion of his high school baseball career. The allure of running in the beauty of our Western Washington summers initially pulled him in, and he came to enjoy the satisfaction that came with running in the elements we face the rest of the year. After being invited by a fellow member in 2022, Will took solace in engaging with others who shared his appreciation for running and the community here in Tacoma. When Will's running shoes aren't laced up, you'll find him still playing baseball and flag football recreationally, while also rooting on his favorite professional collegiate teams - whatever is in season!</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1">
      <p class="name-title">Colton Haffey - Board Member</p>
      <p>Favorite Thursday Run - Tami's</p>
      <p class="joined">Joined 2022</p>
      <p>Colton is a former diver turned runner that thought he would do a couple 5Ks and now has a hard time saying no to a marathon. He stays involved in the running community in Tacoma as one of the organizers for Metro Parks Tacoma’s races. If Colton isn’t running around somewhere on the eastside, he is probably watching the Mariners at a brewery.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/colton.png"/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img class="rounded" src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/chapin.jpg"/>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Chapin Ensminger - Board Member</p>
      <p>Favorite Thursday Run - Narrows Brewing Company</p>
      <p class="joined">Joined 2022</p>
      <p>Chapin started her running journey in middle school racing 5ks with friends and family. In high school she joined the cross country team, where she had the best coach who helped her and her teammates fall in love with running regardless of their pace and in spite of their complaining!<br/>
        She joined tacoma runners shortly after moving here once she thawed out from the winter months! She has made many great friends through tacoma runners and loves meeting new members.<br/>
        When she is not running you can find her working at the hospital or planning her next adventure- a hike, camping trip or traveling somewhere new. 🙂
        </p>
    </div>
  </div>
</div>
