<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1>Running Tacoma since 2010</h1>
      <p>
        The Tacoma Runners began in January 2010 with a few words on Twitter.
        Three people confirmed for an easy run from Tacoma's iconic Parkway
        Tavern. Seven showed up. Twelve runners came for week two from the Red
        Hot. Then sixteen the following week. After more than a decade, several
        thousand runners have joined us and the group continues to grow. All
        events are open to runners of all speeds and abilities. We won't lose
        you.
      </p>
      <p>
        We have two weekly runs - a Thursday night social run and a free
        Saturday 5k. These are a great way to meet people and learn about all
        the various running options in the South Sound.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h2>Our Board</h2>
      <p>
        Our board is made of volunteer runners who are dedicated to ensuring
        there is a free, fun, and inclusive running community in the South
        Sound. Feel free to ask us any questions or just say hi!
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/hayley.jpg"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Hayley Falk - President</p>
      <p>Favorite Thursday Run - Titlow Park</p>
      <p class="joined">Joined 2017</p>
      <p>
        Hayley has been running since she was 14 when she was forced to run
        cross country in high school (thanks mom). She has fallen in and out of
        love with the sport throughout her running career but has always valued
        the team comradery. Hayley joined Tacoma Runners within two weeks of
        moving to Tacoma and hasn’t looked back since. When she isn’t running,
        Hayley is likely watching Dodgers baseball or engaged in discussion of
        government policy in the outdoors.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1"
    >
      <p class="name-title">Colton Haffey - Vice President</p>
      <p>Favorite Thursday Run - Tami's</p>
      <p class="joined">Joined 2022</p>
      <p>
        Colton is a former diver turned runner that thought he would do a couple
        5Ks and now has a hard time saying no to a marathon. He stays involved
        in the running community in Tacoma as one of the organizers for Metro
        Parks Tacoma’s races. If Colton isn’t running around somewhere on the
        eastside, he is probably watching the Mariners at a brewery.
      </p>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2"
    >
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/colton.png"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/justin.jpg"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Justin Camarata - Board Treasurer</p>
      <p>
        Favorite Tacoma Runners route - Water Flume Line Trail and Thea Foss
        Waterway (tie)
      </p>
      <p class="joined">Joined 2018</p>
      <p>
        Justin, Tacoma Runners' Board Treasurer, still isn't quite sure what
        he's running <i>from</i>-maybe a therapist can help figure that out-but
        running has been a huge source of joy, friends, health, and even travel
        since his first official 5k in college. Justin was previously a Tacoma
        City Councilmember and currently works with several community
        organization boards in addition to his professional work with software
        startups. When he isn't logging miles in Strava or crunching our numbers
        in Excel, Justin enjoys cranking up a vinyl record, riding longboards
        with his kids, drinking coffee on his porch with his wife Bess, and
        working to ensure Tacoma's streets are walkable (and runnable) for every
        person in every neighborhood.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1"
    >
      <p class="name-title">Mitch McCann - Board Secretary</p>
      <p>Favorite Thursday Run - Point Defiance!</p>
      <p class="joined">First Run was June 23, 2022 at Camp Bar</p>
      <p>
        Mitch was forced off his couch and into running shoes in 1998 when he
        joined one of the most dedicated running clubs in America, the Army
        (ROTC at Oregon State University). He was continuously forced to run for
        the next 24 years until he retired, moved to Tacoma, and vowed to never
        run again! Much to his surprise, the next morning he was up and looking
        for a place to run and people to run with - enter Tacoma Runners, a far
        more enjoyable experience yet no less dedicated running club! When not
        telling everyone how fast or far he used to run, Mitch enjoys nerding it
        up playing all types of games, volunteering around town (supporting
        various efforts to help our homeless neighbors and assisting elementary
        teachers in classroom), or dreaming about his next trip.
      </p>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2"
    >
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/mitch.jpg"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/meg.png"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Meg Baker - Board Member</p>
      <p>Favorite Run - The Unicorn</p>
      <p class="joined">Joined 2024</p>
      <p>
        Meg and running have had a hot and cold relationship since 2008. The
        through line though is Meg usually runs for the friends (and to be
        prepared for a zombie apocalypse). Running has always been a great
        outlet during times of transition. So, they joined Tacoma Runners the
        week they moved to town to meet people and be motivated out of the
        house. Little did they know their core group of friends and positive
        mental health during the long dark winter would be found there. Running,
        it seems, is here to stay this time. When they are not running, Meg can
        be found writing, playing with their two dogs, or researching how to
        stay dry in the Pacific Northwest.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1"
    >
      <p class="name-title">Kristina Bellizzi - Board Member</p>
      <p class="joined">Joined 2014</p>
      <p>
        Kristina moved to Tacoma from NH in 2012 and found it hard to make
        friends. After having a baby, she discovered she needed more reasons to
        get out of the house and interact with adult-ish people. In May of 2014,
        she found the Saturday morning run on Facebook and struggled through a
        40-min walk jog of a rolling 5k. In spite of better judgement, she then
        showed up to a Thursday run from the Unicorn pushing a stroller up a
        ridiculous hill. Now almost a decade later, the baby loves to do spartan
        races, tear up sidewalks on two wheels, and has even worn the coveted
        tutu for a run. Kristina rarely says no to an adventure run, especially
        if costumes are involved. Kristina found amazing people at Tacoma
        Runners who she now calls family and are crazy enough to say yes to all
        sorts of sporting adventures. Come find your newest best friends and
        favorite hills with Tacoma Runners!
      </p>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2"
    >
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/kristina.jpg"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/todd.jpg"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Todd Detweiler - Board Member</p>
      <p>Favorite Run (and wife and his first date) - Parkway</p>
      <p class="joined">Joined 2022</p>
      <p>
        Todd has been a runner since before he should have been. After many
        faceplants, becoming a regular in the school nurse office, he seemed to
        get the hang of it but still tried to do other sports. However, he
        failed at all of them with the only positive thing coaches able to say
        being: "well... you're fast", so he decided to try Track & Field and
        that finally stuck. Nowadays you'll find him meandering around town with
        his German Shepherd, Smudge, or one of his kids biking along with him.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1"
    >
      <p class="name-title">Will Hamilton - Board Member</p>
      <p>Favorite Run - Hanks Bar &amp; Pizza</p>
      <p class="joined">Joined 2022</p>
      <p>
        Will began running in 2018 following the conclusion of his high school
        baseball career. The allure of running in the beauty of our Western
        Washington summers initially pulled him in, and he came to enjoy the
        satisfaction that came with running in the elements we face the rest of
        the year. After being invited by a fellow member in 2022, Will took
        solace in engaging with others who shared his appreciation for running
        and the community here in Tacoma. When Will's running shoes aren't laced
        up, you'll find him still playing baseball and flag football
        recreationally, while also rooting on his favorite professional
        collegiate teams - whatever is in season!
      </p>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2"
    >
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/will.jpg"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/deb.jpg"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Deb McLaren - Saturday Run Host</p>
      <p>Favorite Run - Point Defiance of course!</p>
      <p class="joined">First Run was Saturday, January 12, 2013</p>
      <p>
        My first Saturday run with Tacoma Runners 11 years ago was the beginning
        of a life change for me. I had recently turned 50 and had never run a
        5k. I was so intimidated! I was sure I would be last or get lost or
        both! After finishing that first run, I could barely walk and thought I
        would never run again. That day, Kent and I decided that running every
        Saturday was non-negotiable. Each week it got easier and gave me the
        confidence to join a Thursday run, do several half-marathons, and even a
        few Sprint triathlons. We (along with John) began hosting the Saturday
        run seven years ago when Derek and Sarah had Owen. Tacoma Runners has
        always promoted itself as a "social group that happens to run." I have
        met and logged in over 500 runners who have joined us on Saturday (at
        least once). I joke that I see my Tacoma Runner friends more regularly
        than my family! Tacoma Runners has a place for every age and level of
        runner. Come and find your place with us.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 text-start text-md-end order-2 order-md-1"
    >
      <p class="name-title">Eric Voboril - Board Member</p>
      <p class="joined">Joined 2018</p>
      <p>
        Eric loves running in the woods and on the sidewalks. He started running
        with Tacoma Runners in 2018 just after moving to Washington from
        Baltimore, Maryland. He likes being on the Fun Committee of the board
        mostly because it’s an opportunity to make more excuses to wear
        costumes. Besides running, Eric can often be seen riding his bike in
        town and far away. He also plays multiple musical instruments and
        teaches at an elementary school.
      </p>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 text-center text-md-start order-1 order-md-2"
    >
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/eric.png"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-end">
      <img
        class="rounded"
        src="https://rgugzhoywaloltmagelp.supabase.co/storage/v1/object/public/photos/bios/kyle.jpg"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <p class="name-title">Kyle Wenholz - Board Member</p>
      <p>Favorite Run - Cheney Stadium in the summer</p>
      <p class="joined">Joined 2022</p>
      <p>
        Kyle is a reborn runner. Having started in college with a friend (in
        Tacoma!), he fell off the wagon in Seattle after just a few half
        marathons. Eight years later and back in Tacoma, he fell in love with
        Tacoma Runners' wee bit of competition and getting out in all of
        Tacoma's wonderful outdoor spaces. (Socializing at the bar is a big
        bonus!) When not running, you'll find him hanging out with his wife,
        Rachel, walking his dog at Point D, cooking, and reading.
      </p>
    </div>
  </div>
</div>
