.edit-form {
  max-width: 400px;
  margin: auto;
}

:host {
  width: 100%;
}

h4 {
margin-top: 20px;
}

.header {
  font-size: 20pt;
  margin-bottom: 20px
}

.large-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
}

label {
  font-weight: bold;
}

.run-type {
  margin-left: 10px;
}
