.edit-form {
  max-width: 400px;
  margin: auto;
}

:host {
  width: 100%;
}

h4 {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  font-size: 20pt;
  margin-bottom: 20px
}

.large-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
}

label {
  font-weight: bold;
}

.row {
  margin-bottom: 10px;
  /* column-gap: 10px; */
  font-size: 12pt;
}

.run-type, .map-button {
  margin-left: 10px;
}

.run-name, .run-date, .run-desc, .run-location, .run-links {
  border: 5px solid rgba(253,89,1,0.3);
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .no-padding {
    padding-left: unset;
    padding-right: unset;
  }
}
@media only screen and (max-width: 768px) {
  .no-padding {
    margin-top: 10px;
  }
}

.run-name {
  font-weight: bold;
}

.run-desc {
  white-space: pre-wrap;
}

.run-map {
  width: 100%;
}

.run-location {
  margin-bottom: 10px;
}

.run-address {
  font-size: 10pt;
}

/* @media only screen and (min-width: 768px) {
  .left-section {
    margin-right: 10px;
  }

  .right-section {
    margin-left: 10px;
  }
} */
