.edit-form {
  max-width: 400px;
  margin: auto;
}

:host {
  width: 100%;
}

h4 {
  margin-top: 20px;
}

a.link-button {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-bottom: 3px;
}

.header {
  font-size: 20pt;
  margin-bottom: 20px
}

.large-icon {
  width: 1em;
  height: 1em;
  font-size: 42px;
}

label {
  font-weight: bold;
}

.row {
  margin-bottom: 10px;
  /* column-gap: 10px; */
  font-size: 12pt;
}

.run-type, .map-button {
  margin-left: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18pt;
  color: #17695C;
  text-transform: uppercase;
  line-height: 40px !important;
  vertical-align: top;
}

.run-name, .run-date, .run-desc, .run-location, .run-links, .strava-embed {
  border: 0px solid #eaeaf0;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  padding: 10px;
  overflow: hidden;
  background-color: white;
}

@media only screen and (min-width: 992px) {
  .no-padding {
    padding-left: unset;
    padding-right: unset;
  }
}
@media only screen and (max-width: 991px) {
  .no-padding {
    margin-top: 10px;
  }

  .run-desc {
    height: auto;
  }
}

.run-name {
  font-weight: bold;
}

.run-desc {
  white-space: pre-wrap;
  height: 315px;
  overflow-y: auto;
}

.run-map {
  width: 100%;
}

.run-location, .run-links, .strava-embed {
  margin-bottom: 10px;
}

.run-address {
  font-size: 10pt;
}

.admin-button {
  vertical-align: top;
  margin-left: 50px;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}
