<div class="container-fluid" *ngIf="isLoaded && viewMode == 'user' && currentRun.id; else loading">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-sm-12">
      @if (currentRun.runType == 'thursday-run') {
        <span class="header">
          <span mat-card-avatar><mat-icon class="large-icon" fontIcon="sports_bar" color="accent"></mat-icon></span>
          <span class="run-type">Thursday Run</span>
        </span>
      } @else if (currentRun.runType == 'saturday-5k') {
        <span class="header">
          <span mat-card-avatar><mat-icon class="large-icon" fontIcon="forest" color="accent"></mat-icon></span>
          <span class="run-type">Saturday 5K</span>
        </span>
      } @else {
        <span class="header">
          <span mat-card-avatar><mat-icon class="large-icon" fontIcon="celebration" color="accent"></mat-icon></span>
          <span class="run-type">Special Event</span>
        </span>
      }
      @if (auth.isAuthenticated$ | async) {
        <button mat-raised-button color="accent" [routerLink]="['/admin/edit/', currentRun.id]">Edit</button>
      }
    </div>
  </div>
  <div class="row justify-content-center px-1">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="run-name">
        {{ currentRun.name }}
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 no-padding">
      <div class="run-date">
        {{ currentRun.eventDate | date:'EEEE, MMMM d, y h:mm a':'PST' }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-start">
      <div class="run-desc" [innerHTML]="currentRun.description"></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-start no-padding">
      <div class="run-location">
        <iframe class="run-map"
          width="450"
          height="250"
          frameborder="0" style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          [src]="mapUrl | safe"
          allowfullscreen>
        </iframe>
        <div class="run-venue">{{ currentRun.location.name }}</div>
        <div class="run-address">{{ currentRun.location.streetAddress }}, {{ currentRun.location.city }}, {{ currentRun.location.state }} {{ currentRun.location.zipCode }}</div>
      </div>

      @if (currentRun.stravaEventId || currentRun.stravaRouteId || currentRun.facebookEventId || currentRun.meetUpEventId) {
        <div class="run-links">
          @if (currentRun.stravaEventId) {
            <button mat-raised-button color="accent">
              <a href="https://www.strava.com/clubs/966456/posts/{{currentRun.stravaEventId}}" target="_blank">Strava Event</a>
            </button>
          }
          @if (currentRun.stravaRouteId) {
            <button mat-raised-button color="accent">
              <a href="https://www.strava.com/routes/{{currentRun.stravaRouteId}}" target="_blank">Strava Route</a>
            </button>
          }
          @if (currentRun.facebookEventId) {
            <button mat-raised-button color="accent">
              <a href="https://www.facebook.com/events/{{currentRun.facebookEventId}}" target="_blank">Facebook Event</a>
            </button>
          }
          @if (currentRun.meetUpEventId) {
            <button mat-raised-button color="accent">
              <a href="https://www.meetup.com/original-tacoma-runners/events/{{currentRun.meetUpEventId}}" target="_blank">Meetup Event</a>
            </button>
          }
        </div>
      }
    </div>
  </div>
  @if (currentRun.stravaRouteId) {
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <app-stravaembed [routeid]="currentRun.stravaRouteId"></app-stravaembed>
      </div>
    </div>
  }
</div>

<ng-template #loading>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</ng-template>
