
	<mat-toolbar class="mat-elevation-z8">
	  <button
		mat-icon-button
		*ngIf="isHandset$ | async"
		(click)="sidenav.toggle()"
	  >
		<mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
		<mat-icon *ngIf="sidenav.opened"> close </mat-icon>
	  </button>
	  <img class="logo" src="assets/tr-logo.png" height="48"/>
	  Tacoma Runners
	</mat-toolbar>

<mat-sidenav-container>

	<mat-sidenav #sidenav class="mat-elevation-z8" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
	  <button mat-button class="menu-button" routerLink="/" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" (click)="closeSideNav()">
		<mat-icon>home</mat-icon>
		<span>Home</span>
	  </button>
	  <button mat-button class="menu-button" routerLink="runs-list" routerLinkActive="activebutton" (click)="closeSideNav()">
		<mat-icon>directions_run</mat-icon>
		<span>Runs</span>
	  </button>
	  <button mat-button class="menu-button" routerLink="info" routerLinkActive="activebutton" (click)="closeSideNav()">
		<mat-icon>info</mat-icon>
		<span>Info</span>
	  </button>

	  <mat-divider></mat-divider>

	  <button mat-button class="menu-button" routerLink="contact" routerLinkActive="activebutton" (click)="closeSideNav()">
		<mat-icon>mail</mat-icon>
		<span>Contact</span>
	  </button>
  </mat-sidenav>
  <mat-sidenav-content>
	<div class="content mat-elevation-z8">
    	<router-outlet></router-outlet>
	</div>
  </mat-sidenav-content>
</mat-sidenav-container>
