mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  /* background: #002b5c; */
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.white-text{
  color: white;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  /* margin-left: 32px; */
  display: flex;
  padding: 10px;
  overflow: scroll;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.logo {
	margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.social-links {
  margin-left: 20px;
}

.social-links > a {
  display: inline-block;
  color: white;
  width: 20px;
}

.social-icon {
  font-size: 16px;
}
