mat-toolbar {
  background: #B9DDD8;
  color: white;
}

@media only screen and (max-width: 600px) {
  mat-toolbar {
    padding: 0;
  }
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background-color: #B9DDD8;
  color: #E55B25 !important;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}

mat-sidenav > button {
  color: #E55B25
}

.mat-mdc-icon-button {
  color: #E55B25 !important;
}

.mat-mdc-button:not(:disabled) {
  color: #E55B25 !important;
}

.header-title {
  font-family: "BalloonD";
  font-size: 30pt;
  color: #E55B25;
}

@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 24pt;
    width: 140px;
    white-space: break-spaces;
    line-height: 20pt;
  }
}

.white-text{
  color: white;
}

.content {
  height: auto;
  display: flex;
  padding: 10px;
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 0;
  }
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.logo {
	margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.social-links {
  margin-left: 20px;
}

.social-links > a {
  display: inline-block;
  color: rgb(229, 91, 37);
  width: 20px;
}

.social-icon {
  font-size: 16px;
  margin: 0 2px;
}