<div class="container-fluid">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="currentRun; else loading">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <mat-form-field>
          <mat-label>Run Type</mat-label>
          <mat-select formControlName="runType">
            <mat-option value="thursday-run">Thursday Run</mat-option>
            <mat-option value="saturday-5k">Saturday 5K</mat-option>
            <mat-option value="special-event">Special Event</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12">
        <mat-form-field>
          <mat-label>Event Date</mat-label>
          <input matInput type="datetime-local" name="eventDate" formControlName="eventDate">
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput id="name" type="text" formControlName="name"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="description-ngx">
          <ngx-editor-menu [editor]="editor" > </ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="description" [placeholder]="'Description'" outputFormat="html"></ngx-editor>
        </div>
      </div>
    </div>

    <fieldset formGroupName="address">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <mat-form-field>
            <mat-label>Street Address</mat-label>
            <input matInput id="streetAddress" type="text" formControlName="streetAddress" readonly/>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput id="city" type="text" formControlName="city" readonly/>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput id="state" type="text" formControlName="state" readonly/>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <mat-form-field>
            <mat-label>zipCode</mat-label>
            <input matInput id="zipCode" type="text" formControlName="zipCode" readonly/>
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <mat-form-field>
          <mat-label>Venue Name</mat-label>
          <input matInput id="venueName" type="text" formControlName="venueName" readonly/>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12">
        <mat-form-field>
          <mat-label>Neighboorhood Name</mat-label>
          <input matInput id="neighborhood" type="text" formControlName="neighborhood" readonly/>
        </mat-form-field>
      </div>
    </div>

    <fieldset formGroupName="eventIds">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-sm-12">
          <mat-form-field>
            <mat-label>Facebook Event ID</mat-label>
            <input matInput id="facebookEventId" type="text" formControlName="facebookEventId"/>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <mat-form-field>
            <mat-label>Strava Event ID</mat-label>
            <input matInput id="stravaEventId" type="text" formControlName="stravaEventId"/>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <mat-form-field>
            <mat-label>Strava Route ID</mat-label>
            <input matInput id="stravaRouteId" type="text" formControlName="stravaRouteId"/>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <mat-form-field>
            <mat-label>Meetup Event ID</mat-label>
            <input matInput id="meetUpEventId" type="text" formControlName="meetUpEventId"/>
          </mat-form-field>
        </div>
      </div>
    </fieldset>

    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <button mat-raised-button color="accent" type="submit" [disabled]="!editForm.valid || !editForm.dirty">Update</button>
      </div>
    </div>
  </form>


  <ng-template #loading>
    <div class="row justify-content-center">
      <div class="col-2">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </ng-template>
</div>
