.menu-button {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .activebutton {
    background-color: rgba(253,89,1,0.8);
  }
}

@media only screen and (max-width: 600px) {
  .activebutton {
    background-color: #249ea0;
  }
}

.topnav {
  margin-top: 15px;
}

ul li {
  display: inline;
}

.topnav li {
  list-style: none;
  position: relative;
}

.topnav-button {
  font-size: 15px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}

.topnav-button:hover {
  background-color: rgba(253,89,1,0.6);
}

.topnav-button > mat-icon {
  height: 28px;
  vertical-align: middle;
  overflow: unset;
}

