.menu-button {
  width: 100%;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
}

.activebutton {
  background-color: rgba(229, 91, 37, 0.8);
  color: white !important;
}

.topnav {
  margin-top: 15px;
}

ul li {
  display: inline;
}

.topnav li {
  list-style: none;
  position: relative;
}

.topnav-button {
  font-size: 10pt;
  font-weight: bold;
  display: inline-block;
  color: #17695C;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}

.topnav-button:hover {
  background-color: rgba(150, 150, 150, 0.1);
}

.topnav-button > mat-icon {
  height: 28px;
  vertical-align: middle;
  overflow: unset;
}

