@if (mode=='side') {
  <button mat-button color="primary" class="menu-button" routerLink="/" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" (click)="closeSideNav()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
    </button>
    <button mat-button color="primary" class="menu-button" routerLink="runs-list" routerLinkActive="activebutton" (click)="closeSideNav()">
    <mat-icon>directions_run</mat-icon>
    <span>Runs</span>
    </button>
    <button mat-button color="primary" class="menu-button" routerLink="register" routerLinkActive="activebutton" (click)="closeSideNav()">
    <mat-icon>how_to_reg</mat-icon>
    <span>Register</span>
    </button>

    <!-- <mat-divider></mat-divider> -->

    <button mat-button color="primary" class="menu-button" (click)="closeSideNav();global.openDonate();">
    <mat-icon>favorite</mat-icon>
    <span>Donate</span>
  </button>
} @else {
  <div class="topnav">
    <ul>
      <li>
        <div class="topnav-button" routerLink="/" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </li>
      <li>
        <div class="topnav-button" routerLink="runs-list" routerLinkActive="activebutton">
        <mat-icon>directions_run</mat-icon>
        <span>Runs</span>
        </div>
      </li>
      <li>
        <div class="topnav-button" routerLink="register" routerLinkActive="activebutton">
        <mat-icon>how_to_reg</mat-icon>
        <span>Register</span>
        </div>
      </li>
      <li>
        <div class="topnav-button" onclick="global.openDonate()">
          <mat-icon>favorite</mat-icon>
          <span>Donate</span>
        </div>
      </li>
    </ul>
  </div>
}
