@import './custom-theme.scss';

@font-face {
  font-family: BalloonD;
  src: url("assets/BalloonD.otf") format("opentype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
}
.NgxEditor__MenuBar, .NgxEditor {
  background-color: rgb(245, 245, 245) !important;
}

@import 'swiper/scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/scss/effect-coverflow';
