<div class="carousel-holder justify-content-center">
  <app-carousel></app-carousel>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mat-card class="home-card" [routerLink]="(thursdayRun)?['/details',thursdayRun.id]:['/runs-list']">
          <mat-card-header>
              <div mat-card-avatar><mat-icon class="large-icon" fontIcon="sports_bar" color="primary"></mat-icon></div>
              <mat-card-title class="card-title">Thursday Run</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>The Thursday night social run is the iconic Tacoma Runners event. Every week we run from a different local business or park. Rain or shine. Join us!</p>
            @if (thursdayRun) {
              <p>{{ thursdayRun.name }} - {{ thursdayRun.eventDate | date:'EEEE, MMMM d, y h:mm a'}}</p>
              <p>{{ thursdayRun.location.name }}<br/>{{ thursdayRun.location.streetAddress }}<br/>
                {{ thursdayRun.location.city }}, {{ thursdayRun.location.state }} {{ thursdayRun.location.zipCode }}
              </p>
            }
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mat-card class="home-card" [routerLink]="(saturdayRun)?['/details',saturdayRun.id]:['/saturday5k']">
        <mat-card-header>
            <div mat-card-avatar><mat-icon class="large-icon" fontIcon="forest" color="primary"></mat-icon></div>
            <mat-card-title class="card-title">Saturday 5k</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>The free Saturday 5k is a timed event on a measured course. It is a great way to start your weekend off right with a training run or a little competition among friends.</p>
          @if (saturdayRun) {
            <p>{{ saturdayRun.eventDate | date:'EEEE, MMMM d, y h:mm a'}}</p>
            <p>{{ saturdayRun.location.name }}<br/>{{ saturdayRun.location.streetAddress }}<br/>
            {{ saturdayRun.location.city }}, {{ saturdayRun.location.state }} {{ saturdayRun.location.zipCode }}</p>
          }
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mat-card class="home-card" [routerLink]="['/register']">
        <mat-card-header>
            <div mat-card-avatar><mat-icon class="large-icon" fontIcon="how_to_reg" color="primary"></mat-icon></div>
            <mat-card-title class="card-title">Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Please complete the one-time registration process before joining us for the first time. This is good for all runs that we host on our calendar. We'll see you soon!
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mat-card class="home-card" (click)="global.openDonate()">
        <mat-card-header>
            <div mat-card-avatar><mat-icon class="large-icon" fontIcon="favorite" color="primary"></mat-icon></div>
            <mat-card-title class="card-title">Donate</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Consider donating to Tacoma Runners. Your gift is tax-deductible and helps us maintain your favorite run club.<br/><br/>EIN: 86-3898774
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-copyright></app-copyright>
