:host {
  width: 100%;
}

.home-card {
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 95%;
}

.home-card:hover {
  background-color: rgba(150, 150, 150, 0.5);
}

.large-icon {
  width: 1em;
  height: 1em;
  font-size: 3em;
}

.card-title {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18pt;
  color: #17695c;
  text-transform: uppercase;
  line-height: 40px !important;
}

.activebutton {
  background-color: rgba(150, 150, 150, 0.5);
}

.social-icon {
  font-size: 14px;
}

.copyright {
  height: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 40px 0;
  text-align: center;
}

.mat-mdc-card {
  height: 250px;
}

.carousel-holder {
  margin: -10px -10px 20px -10px;
}

@media only screen and (max-width: 991px) {
  .mat-mdc-card {
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-holder {
    margin: 0px 0px 10px 0px;
  }
}
