.list {
  text-align: left;
  /*max-width: 750px;
   margin: auto; */
}

.list-group-item {
  background-color: rgba(150, 150, 150, 0.5);
  min-width: 200px;
  cursor: pointer;
}

h4 {
  margin-top: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18pt;
  color: #17695C;
  text-transform: uppercase;
}

:host {
  width: 100%;
}

mat-panel-title {
  flex: 2 1 0;
}

msg-header-description {
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

.sm-panel-date {
  display: none;
}

@media only screen and (max-width: 600px) {
  mat-panel-description {
    display: none;
  }

  .sm-panel-date {
    display: block;
  }
}

.pending {
  background-color: #B9DDD8 !important;
}

.archived {
  background-color: lightpink !important;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
